{% extends 'main.twig' %}

{% block title %}Панель администратора{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-2 aside">
                <h3>Меню</h3>
                <hr>
                <ul class="nav nav-pills nav-stacked">
                    <li {{ app.request.pathInfo matches '{^/user}' ? 'class="active"' }}><a
                                href="{{ route('user.index') }}">Пользователи</a></li>
                    <li {{ app.request.pathInfo matches '{^/theme}' ? 'class="active"' }}><a
                                href="{{ route('theme.index') }}">Темы</a></li>
                    <li {{ app.request.pathInfo matches '{^/question}' ? 'class="active"' }}><a
                                href="{{ route('question.index') }}">Вопросы</a></li>
                </ul>
            </div>
            <div class="col-md-10">
                <hr>
                <h3>{% block subtitle %}{% endblock %}</h3>
                {% block inner_content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}   